<!DOCTYPE html>   
{% extends 'base.html' %}

{% load static %}
{% load tag_library %}
{% block header %}
    {% include 'includes/header_1.html'%}
{% endblock header %}


{% block conteudo %}
    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img" data-parallax="scroll" data-parallax="scroll" data-image-src="{% static 'app_adote_uma_causa/img/about.jpg' %}"></div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <p>Sobre nós</p>
                        <h2>Facilitando doações</h2>
                    </div>
                    <div class="about-tab">
                        <div class="tab-content">
                            <div id="tab-content-1" class="container tab-pane active">
                                Adote Uma Causa é uma plataforma sem fins lucrativos que tem o objetivo de conectar doadores e projetos sociais. Disponibilizamos uma plataforma fácil e intuitiva, que permite doadores encontrarem causas que se desejam apoiar. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>O que nós fazemos?</p>
                <h2>Acreditamos que podemos ajudar mais pessoas com você</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-diet"></i>
                        </div>
                        <div class="service-text">
                            <h3>Comida Saudável</h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-water"></i>
                        </div>
                        <div class="service-text">
                            <h3>Água Potável</h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-healthcare"></i>
                        </div>
                        <div class="service-text">
                            <h3>Assistência Médica</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Educação Primária</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Acesso a Moradia</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-social-care"></i>
                        </div>
                        <div class="service-text">
                            <h3>Causas Sociais</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Facts Start -->
    <div class="facts" data-parallax="scroll" data-image-src="/static/app_adote_uma_causa/img/facts.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-home"></i>
                        <div class="facts-text">
                            <h3 class="facts-plus" data-toggle="counter-up">170</h3>
                            <p>Países</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-charity"></i>
                        <div class="facts-text">
                            <h3 class="facts-plus" data-toggle="counter-up">1300000</h3>
                            <p>Doadores</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-kindness"></i>
                        <div class="facts-text">
                            <h3 class="facts-dollar" data-toggle="counter-up">30000</h3>
                            <p>Projetos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-donation"></i>
                        <div class="facts-text">
                            <h3 class="facts-dollar" data-toggle="counter-up">602000000</h3>
                            <p>Arrecadados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- Causes Start -->
    <div class="causes">
        <div class="container">
            <div class="section-header text-center">
                <p>Projetos em destaque</p>
                <h2>Encontre alguns projetos que estão em destaque</h2>
            </div>
            <div class="owl-carousel causes-carousel">
                {% for p in projects %}
                    <div class="causes-item">
                        <div class="causes-img">
                            <img style="height:263px" src="{{p.image_link}}" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{p.percent | to_int}}" aria-valuemin="0" aria-valuemax="100">
                                    <span>{{p.percent | to_int}}%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Arrecadado:</strong> ${{p.funding | to_int}}</p>
                                <p><strong>Meta:</strong> ${{p.goal | to_int }}</p>
                            </div>

                            <div class="causes-text" style="min-height:78px">
                                <h3>{{p.title}}</h3>

                            </div>
                            <div class="causes-btn">
                                <a href="{% url 'details' id=p.id %}" class="btn btn-custom">Saber mais</a>
                                <a class="btn btn-custom">Doar Agora</a>
                            </div>
                            </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- Causes End -->

{% endblock conteudo %}

    