<!DOCTYPE html>   
{% extends 'base.html' %}

{% load static %}
{% load tag_library %}
{% block header %}
    {% include 'includes/header_2.html' with current_page='Projetos' current_link='projects' title='Encontre Projetos'%}
{% endblock header %}        
        

{% block conteudo %}
    <!-- Causes Start -->
    <div class="causes">
        <div class="container">
            <div class="section-header text-center">
                <p>Projetos</p>
                <h2>Encontre um Projeto e adote uma causa!</h2>
                <div class="sidebar-widget">
                    
                    <div class="tag-widget">
                        {% for key, value in themes.items %}
                            <a class="{% if key == current_theme %} active {% endif %}" href="{% url 'projects' %}?theme={{key}}"> {{ value }}</a>
                        {% endfor %}
                        <!-- <a href="">National</a>
                        <a href="">International</a>
                        <a href="">Economics</a>
                        <a href="">Politics</a>
                        <a href="">Lifestyle</a>
                        <a href="">Technology</a>
                        <a href="">Trades</a> -->
                    </div>
                </div>
            </div>
            

            <div class="owl-carousel causes-carousel">
                {% for p in projects %}
                    <div class="causes-item">
                        <div class="causes-img">
                            <img style="height:263px" src="{{p.image_link}}" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{p.percent | to_int}}" aria-valuemin="0" aria-valuemax="100">
                                    <span>{{p.percent | to_int}}%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Arrecadado:</strong> ${{p.funding | to_int}}</p>
                                <p><strong>Meta:</strong> ${{p.goal | to_int }}</p>
                            </div>

                            <div class="causes-text" style="min-height:78px">
                                <h3>{{p.title}}</h3>

                            </div>
                            <div class="causes-btn">
                                <a href="{% url 'details' id=p.id %}" class="btn btn-custom">Saber mais</a>
                                <a class="btn btn-custom">Doar Agora</a>
                            </div>
                            </div>
                    </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    <!-- Causes End -->

{% endblock conteudo %}
