{% load static %}

<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'app_adote_uma_causa/img/carousel-3.jpg'%}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Ajude as mais diversas causas</h1>
                    <p>
                        Mesmo um único centavo é importante e até mesmo uma pequena doação pode mudar grandes coisas
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->